<%= render 'shared/errors', obj: @recipe %>

<div class="row">
  <div class="well col-md-8 col-md-offset-2">
    <%= form_for(@recipe, html: { mulitpart: true }) do |r| %>
    <%= r.label :name %>
    <%= r.text_field :name %>

    <%= r.label :summary %>
    <%= r.text_field :summary %>

    <%= r.label :description %>
    <%= r.text_area :description, rows: 10 %>
    <strong>Styles:
    </strong>
    <%= r.collection_check_boxes :style_ids, Style.all, :id, :name do |cb| %>
    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
    <% end %>
    <br><br>
    <strong>Ingredients:
    </strong>
    <%= r.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cbi| %>
    <% cbi.label(class: "checkbox-inline input_checkbox") {cbi.check_box(class: "checkbox") + cbi.text} %>
    <% end %>
    <br><br>

    <span class="picture">
      <%= r.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <%= r.submit(@recipe.new_record? ? 'Create Recipe' : 'Edit Recipe', class: "btn btn-success") %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $('#recipe_picture').bind('change', function () {
    size_in_megabytes = this.files[0].size / 1024 / 1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file');
    }
  });
</script>
