<html>

<head>
  <title>MyRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      <%= link_to "myRecipes", "", class: "btn btn-lag btn-success", id: "logo" %>
        <div class="nav_item">
          <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "link 1", "", class: "btn btn-default btn-warning" %>
        </div>
        <div class="nav_item">
          <%= link_to "New Recipe", new_recipe_path, class: "btn btn-default btn-warning" %>
        </div>
    </div>
  </header>
  <%= render 'layouts/navigation' %>
    <div class="container">
      <%= render 'layouts/messages' %>
        <%= yield %>
          <%= render 'layouts/footer' %>
    </div>
</body>

</html>
